.pinscher-table {
  #pagesize {
    height: 36px;
  }

  .badge {
    min-height:14px;
  }

  .dropdown-toggle.clearfix.single {
    height:25px;
  }

  .form-control {
    float:none!important;
  }

  .input-group-addon {
    height:34px!important;
    min-width:0;
    padding: 10px 12px 0 10px;
    background-color: #eeeeee;
    border: 1px solid #ccd0d2;
  }

  .table {
    margin-bottom:0;

    & > tbody > tr > td {
      max-width:120px;
    }
  }

  .pagination span {
    -webkit-box-shadow: none;
    border: 0;
    box-shadow: none;
  }

  .smart-form .checkbox input.part + i:after {
    content: '\f068';
    opacity: 1;
  }

  div.div-fixed-height {
    border: 1px solid #ccc;
    margin-bottom: 14px;
    min-height: 308px;
  }

  table.fixed-height {
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.pinscher-table .selected-tag {
  padding-left:6px!important;
  width:100%;
}

.pinscher-table .table > thead > tr > th,.pinscher-table .table > thead > tr > td,.pinscher-table .table > tbody > tr > th,.pinscher-table .table > tbody > tr > td,.pinscher-table .table > tfoot > tr > th,.pinscher-table .table > tfoot > tr > td {
  color:#000;

  white-space:nowrap;
}

.pinscher-table .table td a {
  display:block;
  margin:0;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.pinscher-table .table td span {
  display:block;
  margin:0;
  overflow:hidden;
  padding:0;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.pinscher-table .table-striped>tbody:nth-of-type(even)>tr {
  background:#FFF;
}

.pinscher-table .table-striped>tbody:nth-of-type(odd)>tr {
  background:#f9f9f9;
}

.pinscher-table .table>tbody+tbody {
  border-top:none;
}

.pinscher-table input {
  line-height:19.2px;
}

.pinscher-table td #datepicker input {
  width:60%;
}

.pinscher-table input::placeholder {
    color: #c2c0d7;
}
.pinscher-table .vs__selected {
    margin: 0;
}
.pinscher-table .vs__search {
    margin: 0;
}
.pinscher-table .vs__actions {
    padding: 0;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #dddddd24;
  z-index: 999;
  opacity: 1;
}

.pinscher-table td.vtable-plus {
  width:1%!important;
}

.pinscher-table td.vtable-plus i {
  cursor:pointer;
}

@keyframes moving-gradient {
  0% { background-position: -250px 0; }
  100% { background-position: 250px 0; }
}

.pinscher-table td .loading-row {
  height: 20px;
  width: 100%;
  background: linear-gradient(to right, #eee 20%, #ddd 50%, #eee 80%);
  font-size: 0;
  background-size: 500px 100px;
  border-radius: 14px;;
  animation-name: moving-gradient;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.loading-row * {
  display: none!important;
}

.pinscher-table .btn {
    padding: 4px 0 4px 5px;
    font-size: 0.9rem;
    line-height: 1.6;
    border-radius: 4px;
    min-width: 27px;
}

